:root {
    --font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --purple: #9A6AFF;
    --white: #FFFF;
    --gray: #E3E3E3;
    --black: #1E2029;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    padding: 1rem;
    background-color: var(--black);
    font-family: var(--font-family);
    color: var(--gray);
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    width: max-content;
    margin-inline: auto;
}

button {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #353842;
    border: none;
    color: var(--white);
    font-weight: 500;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

#result {
    background-color: var(--purple);
}

#zero {
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

@media (max-width: 750px) {
    
}